{% extends 'whoseturn/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<link rel="stylesheet" href="{% static 'whoseturn/css/dashboard.css' %}">
{% endblock %}

{% block title %}Whose Turn Is It : Dashboard{% endblock %}

{% block main %}
<div class="title">Whose Turn Is It?</div>
<div class="subtitle">{{user.first_name}}'s Dashboard</div>

<div class="toolbar">
  {% if turn_list %}
    <a class="material-icons" href="{% url 'wt-tasklist' %}" title="manage groups">group</a>
  {% endif %}
<a class="material-icons" href="{% url 'wt-newtask' %}" title="add group">group_add</a>
<a class="material-icons" href="{% url 'wt-settings' %}" title="settings">settings</a>
<a class="material-icons" href="{% url 'wt-logout' %}" title="logout">power_settings_new</a>
</div>

{% if turn_list %}
  <ul class="turn-list">
  {% for turn in turn_list %}
    <li>
      <div class="task-name centered">
        &hellip; to <a class="turn-task" href="{% url 'wt-logentrylist' task_id=turn.task.id %}">{{turn.task}}</a>:
      </div>
      <div class="turn-name centered">
        {{turn.user.first_name}}
      </div>
    </li>
  {% endfor %}
  </ul>

  <div class="check-task">
    <a href="{% url 'wt-newentry' %}">
      <i class="material-icons">add_circle_outline</i>
    </a>
  </div>
{% else %}
  <p>You're not a member of any group task yet. Why not 
    <a href="{% url 'wt-newtask' %}"><i class="material-icons">group_add</i>&nbsp;make a shared group task</a>?</p>

{% endif %}

{% endblock %}
