{% extends 'whoseturn/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<link rel="stylesheet" href="{% static 'whoseturn/css/entry_new.css' %}">
{% endblock %}

{% block title %}Whose Turn Is It : Edit Entry{% endblock %}

{% block main %}
<div class="title">Whose Turn Is It?</div>
<div class="subtitle">Edit Log Entry</div>
<!-- <div class="toolbar">
  <a href="{% url 'wt-dashboard' %}" class="material-icons" title="back to dashboard">dashboard</a>
</div> -->
<form method="post">
  {% csrf_token %}

  {{user_form.non_field_errors}}

  <p class="form-header centered">Relevant Task:</p>
  <p class="form-fields centered">
    {% render_field form.task %}
  </p>

  {{form.task.errors}}

  <p class="form-header centered">Completion Date:</p>
    <p class="form-fields centered">
    {% render_field form.date type="date" style="text-align: center" %}
  </p>
  
  {{form.date.errors}}

  <p class="form-header centered">Comment:</p>

  <p class="form-fields centered">
    {% render_field form.comment style="width:100%" %}
  </p>

  {{form.comment.errors}}

  <p class="form-submit centered">
    <input type="submit" name="submit" value="Save Changes">
    <input type="button" name="cancel" value="Cancel" class="cancelbutton"
      onclick="window.location.href='{% url 'wt-logentrylist' task_id=entry.task.id %}'">
  </p>

</form>
{% endblock %}
