{% extends 'whoseturn/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<link rel="stylesheet" href="{% static 'whoseturn/css/entry_new.css' %}">
{% endblock %}

{% block title %}Whose Turn Is It : New Entry{% endblock %}

{% block main %}
<div class="title">Whose Turn Is It?</div>
<div class="subtitle">Create a New Log Entry</div>
<div class="toolbar">
  <a href="{% url 'wt-dashboard' %}" class="material-icons" title="back to dashboard">dashboard</a>
</div>
<form method="post">
  {% csrf_token %}

  {{user_form.non_field_errors}}

  <p class="form-header centered">What did you do?</p>
  <p class="form-fields centered">
    {% render_field form.task %}
  </p>

  {{form.task.errors}}

  <p class="form-header centered">When did you do it?</p>
    <p class="form-fields centered">
    {% render_field form.date type="date" style="text-align: center" %}
  </p>
  
  {{form.date.errors}}

  <p class="form-header centered">Leave a comment?</p>

  <p class="form-fields centered">
    {% render_field form.comment style="width:100%" %}
  </p>

  {{form.comment.errors}}

  <p class="form-submit centered">
    <input type="submit" name="submit" value="Go!">
  </p>

</form>
{% endblock %}
