{% extends 'whoseturn/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'whoseturn/css/generic_success.css' %}">
{% endblock %}

{% block title %}Whose Turn Is It : Error :(){% endblock %}

{% block main %}
<div class="title">Whose Turn Is It?</div>
<div class="subtitle">Error :(</div>

<div class="centered">
  <i class="material-icons error">error_outline</i>
</div>

{% if message %}
<div class="message error">
  {{message}}
</div>
{% endif %}

<p class="centered">Back to <a href="{% url 'wt-login' %}">Login Page</a>.</p>

{% endblock %}
