{% if use_html %}

<p>A password reset was requested for your account on Whose Turn Is It. Follow
  the link below to reset your password. If you changed your mind and do not
  want to reset your password, simply ignore this email.</p>

<p><a href="{{reset_url}}">{{reset_url}}</a></p>

<p>Cheers!</p>

{% else %}

A password reset was requested for your account on Whose Turn Is It. Follow
the link below to reset your password. If you changed your mind and do not 
want to reset your password, simply ignore this email.

{reset_url}}

Cheers!

{% endif %}
