{% extends 'whoseturn/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<link rel="stylesheet" href="{% static 'whoseturn/css/generic.css' %}">
{% endblock %}

{% block title %}Whose Turn Is It : Reset Password{% endblock %}

{% block main %}
<div class="title">Whose Turn Is It?</div>
<div class="subtitle">Reset Password</div>

<form method="post">
  {% csrf_token %}

  {{form.non_field_errors}}

  <p style="font-size: 0.8em; color: gray;">Remember your password? <a href="{% url 'wt-login' %}">Login!</a></p>
  
  <p class="form-header">Enter your username. An email will be sent to that user's email address
    containing a password reset link. Password reset links are valid for 
    {{reset_lifespan}} day{% if reset_lifespan > 1 %}s{% endif %}.</p>

  

  <p class="form-fields centered">
    {% render_field form.username placeholder="Username" %}
  </p>
  {{form.username.errors}}

  <div class="captcha-container">
    {% render_field captcha_form.captcha %}
    {{ captcha_form.captcha.errors }}
  </div>

  <p class="form-submit centered">
    <input type="submit" name="submit" value="Send Password Reset Email">
  </p>

</form>
{% endblock %}
