{% extends 'whoseturn/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<link rel="stylesheet" href="{% static 'whoseturn/css/generic.css' %}">
{% endblock %}

{% block title %}Whose Turn Is It : Reset Password{% endblock %}

{% block main %}
<div class="title">Whose Turn Is It?</div>
<div class="subtitle">Reset Password</div>

<form method="post">
  {% csrf_token %}

  {{form.non_field_errors}}

  <p class="form-header">Enter your username. An email will be sent to that user's email address
    containing a password reset link.</p>

  <p class="form-fields centered">
    {% render_field form.username placeholder="Username" %}
  </p>
  {{form.username.errors}}

  <p class="form-submit centered">
    <input type="submit" name="submit" value="Send Password Reset Email">
  </p>

</form>
{% endblock %}
