{% extends 'whoseturn/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<link rel="stylesheet" href="{% static 'whoseturn/css/generic.css' %}">
{% endblock %}

{% block title %}Whose Turn Is It : Reset Password{% endblock %}

{% block main %}
<div class="title">Whose Turn Is It?</div>
<div class="subtitle">Reset Password</div>

<form method="post">
  {% csrf_token %}

  {{form.non_field_errors}}

  <p class="form-header">Choose a new password for user: {{user}}.</p>

  <p class="form-fields centered">
    {% render_field form.new_password1 placeholder="New Password" %}
  </p>
  {{form.new_password1.errors}}
  <p class="form-fields centered">
    {% render_field form.new_password2 placeholder="Confirm New Password" %}
  </p>
  {{form.new_password2.errors}}

  <p class="form-submit centered">
    <input type="submit" name="submit" value="Set Password">
  </p>

</form>
{% endblock %}
