{% extends 'whoseturn/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<link rel="stylesheet" href="{% static 'whoseturn/css/generic.css' %}">
{% endblock %}

{% block title %}Whose Turn Is It : Register{% endblock %}

{% block main %}
<div class="title">Whose Turn Is It?</div>
<div class="subtitle">Register</div>

<p>Please fill in the following fields to sign-up for Whose Turn Is It.</p>
<p style="font-size: 0.8em; color: gray;">Already have account? <a href="{% url 'wt-login' %}">Login!</a></p>

<form method="post">
  {% csrf_token %}

  {{user_form.non_field_errors}}

  <p class="form-header">Your desired username:</p>
  <p class="form-fields">
    {% render_field user_form.username placeholder="Username" %}
  </p>

  {{user_form.username.errors}}

  <p class="form-header">Your real name:</p>
  <p class="form-fields">
    {% render_field user_form.first_name placeholder="First Name" %}
    {% render_field user_form.last_name placeholder="Last Name" %}
  </p>

  {{user_form.first_name.errors}}
  {{user_form.last_name.errors}}

  <p class="form-header">Your email address:</p>
  <p class="form-fields">
    {% render_field user_form.email placeholder="email@example.com" %}
  </p>

  {{user_form.email.errors}}

  <p class="form-header">Your timezone:</p>
  <p class="form-fields">
    {% render_field settings_form.timezone %}
  </p>

  {{settings_form.timezone.errors}}

  <p class="form-header">A super-secret password:</p>
  <p class="form-fields">
    {% render_field user_form.password1 placeholder="password" %}
    {% render_field user_form.password2 placeholder="password again" %}
  </p>

  {{user_form.password1.errors}}
  {{user_form.password2.errors}}

  <div class="captcha-container">
    {% render_field captcha_form.captcha %}
    {{captcha_form.captcha.errors}}
  </div>
  
  <p class="form-submit">
    <input type="submit" name="submit" value="Register">
  </p>

</form>
{% endblock %}
