{% extends 'whoseturn/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<link rel="stylesheet" href="{% static 'whoseturn/css/task_new.css' %}">
{% endblock %}

{% block title %}Whose Turn Is It : New Task{% endblock %}

{% block main %}
<div class="title">Whose Turn Is It?</div>
<div class="subtitle">Create a New Shared Group Task</div>

<div class="toolbar">
  <a href="{% url 'wt-dashboard' %}" class="material-icons" title="back to dashboard">dashboard</a>
</div>

<form method="post">
  {% csrf_token %}

  {{user_form.non_field_errors}}

  <p class="form-header">The shared task of this group will be to &hellip;</p>
  <p class="form-fields centered">
    {% render_field form.name placeholder="clean the common space" style="width: 100%" %}
  </p>

  {{form.name.errors}}

  <div class="form-header">Invite others to this task by entering their email addresses, separated by commas,
    below. 
    <ul>
      <li>
        Invites are valid for {{invite_lifespan}} day{% if invite_lifespan > 1 %}s{% endif %}.
      </li>
    </ul>  
  </div>

  <p class="form-fields">
    {% render_field form.invite_emails placeholder='lizzy@google.com, grandpa@hotmail.com, ...' style='width:100%' %}
  </p>

  {{form.invite_emails.errors}}

  <p class="form-submit">
    <input type="submit" name="submit" value="Create Task">
  </p>

</form>
{% endblock %}
