@use 'base';
@use 'generic';
@use 'toolbar';

ul.member-list {
  list-style: none;
  margin: 0;
  padding: 1em;
  li {
    padding: 0.3em;
  }
}

ul.entry-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  li {
    width: 100%;
    margin: 0;
    padding: 1em;
    .whowhen {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    .edit {
      font-size: 1.2em;
    }
    .edit:hover {
      @include base.blue-glow;
    }
    .remove {
      font-size: 1.2em;      
      color: red;
      margin-left: 0.5em;
    }
    .remove:hover {
      @include base.red-glow;
    }
    .comment {
      color: darkgray;
    }
  }

  li:nth-child(2n) {
    background: base.$row_even_color;
  }
}

// .history-line {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding-right: 1em;
//   p:first-child {
//     margin-top: 0;
//   }
//   .add {
//     color: green;
//     font-size: 2.0em;
//   }
// }

.add {
  a {
    color: green;
  }  
  a:hover {
    @include base.green-glow;
  }
  text-align: center;
  font-size: 2.0em;
}