@use 'base';

.toolbar {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  margin-bottom: 2em;

  a {
    font-size: 2em;
    color: red;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  a:hover {
    @include base.red-glow;
  }
}
